footer{
    display: flex;
    flex-direction: row;
    background-color:lightblue;
    height: 200px;
    justify-content: center;
    margin-top: 15px;
}
footer > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
   max-width: 200px;
}
section > h2{
    font-size: medium;
    color: gray;
    text-decoration: underline;
}
section > a{
    color: gray;
    text-decoration: none;
    padding-top: 4px;
}
section > a:hover{
    color: white;
}



